__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/
.env
.env.*
.ipynb_checkpoints/
artifacts/*
models/*
!models/.gitkeep
!artifacts/.gitkeep
checkpoints_afp/*
checkpoints_gc/*
